* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: #F1F5F8;
  min-height: 100vh;
  position: relative;
}
a{
  text-decoration: underline;
}
h1{
  text-align: center;
  margin: 10px 0px ;
  margin-top: 40px;
}
.container{
  width: 95%;
  margin: auto;
  margin-bottom: 30px;
}
.display-inline{
  display: inline;
  margin-left: 15px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 15px;
  color: white;
  background-color: #6495ED;
  margin-bottom: 40px;
}
header div{
  display: flex;
  align-items: center;
}
.logo a{
  font-size: 20px;
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  justify-items: center; */
  align-items: center;
  color: black;
}
header a{
  color: white;
  margin: 0px 10px;
  font-size: 20px;
  text-decoration: none;
  font-weight: bolder;
}
header a:hover{
  text-decoration: underline;
}
select{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
}
section {
  position: relative;
  width: 100%;
  height: 92vh;
  display: flex;
}

section .image {
  position: relative;
  width: 50%;
  height: 100%;
}

section .image:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, #6495ed, #191970);
  z-index: 1;
  mix-blend-mode: screen;
}

section .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

section .content .form {
  width: 50%;
}

section .content .form h2 {
  color: #607d8b;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #6495ed;
  display: inline-block;
  letter-spacing: 1px;
}

section .content .form .input {
  margin-bottom: 20px;
}
.sub-head{
  margin-top: 30px;
}
.submit-btn {
  background: #6495ed;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  padding: 10px 20px;
  border-radius: 30px;
}
section .content .form .inputx span {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607d8b;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}

section .content .form .inputx input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
}

section .content .form .inputx input[type="submit"] {
  background: #6495ed;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

section .content .form .inputx input[type="submit"]:hover {
  background: #87cefa;
}

section .content .form .remember {
  margin-bottom: 10px;
  color: #607d8b;
  font-weight: 400;
  font-size: 14px;
}

section .content .form .inputx p {
  color: #607d8b;
}

section .content .form .inputx p a {
  color: #1e90ff;
}

@media (max-width: 768px) {
  section .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  section .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  section .content .form {
    width: 100%;
    padding: 40px;
    background: rgb(255 255 255 / 0.9);
    margin: 50px;
  }
}

/* table */
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  overflow-x: auto;
  width: 100%;
  margin-top: 25px;
  background-color: white;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
}

table td, table th {
  border: 1px solid #ddd;
  padding:11px 8px;
}
td,h5{
  font-size: 16px;
  font-weight: 300;
}
.vaccine-link input{
  width: 70%;
  padding: 10px;
  margin: 20px 0px;
  
}
.vaccine-link button{
  /* width: 70%; */
  padding: 10px;
  /* margin: 10px 0px; */
}
/* table tr:nth-child(even){background-color: #f2f2f2;} */


table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /* background-color: #BD73C6; */
  font-weight: bolder;
  color: black;
  font-size: 19px;
}
table a{
  color: black;
}
.footer{
  /* position: absolute; */
  /* bottom: 0px; */
  top: 100%;
    position: absolute;
  background-color: #6495ED;
  color: white;
  width: 100%;
  padding: 15px;
  text-align: center;
  /* margin-top: 40px; */
}
.pie{
  display: flex;
  align-items: center;
  justify-content: center;
}